<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <bean id="userWorkspace" class="net.lintasarta.UserWorkspace" scope="session"/>

    <bean name="pagedListWrapper" class="net.lintasarta.idoss.webui.util.pagging.PagedListWrapper" scope="prototype"/>

    <bean id="basisCtrl" abstract="true" scope="prototype" class="net.lintasarta.idoss.webui.util.GFCBaseCtrl">
        <property name="userWorkspace" ref="userWorkspace"/>
    </bean>

    <bean id="basisListCtrl" abstract="true" scope="prototype" class="net.lintasarta.idoss.webui.util.GFCBaseListCtrl"
          parent="basisCtrl"
          p:pagedListWrapper-ref="pagedListWrapper">
    </bean>

    <bean id="indexCtrl" class="net.lintasarta.idoss.webui.index.IndexCtrl" parent="basisCtrl" scope="prototype"/>

    <bean id="chatWindow" class="net.lintasarta.idoss.chat.ChatWindow" parent="basisCtrl"
          scope="prototype">
    </bean>

    <bean id="daftarTroubleTiketCtrl" class="net.lintasarta.idoss.webui.pengaduan.DaftarTroubleTiketCtrl"
          parent="basisListCtrl" scope="prototype">
        <property name="penangananGangguanService" ref="penangananGangguanService"/>
    </bean>
    <bean id="daftarDeskripsiCtrl" class="net.lintasarta.idoss.webui.pengaduan.DaftarDeskripsiCtrl"
          parent="basisListCtrl" scope="prototype">
        <property name="tDeskripsiService" ref="tdeskripsiService"/>
    </bean>
    <bean id="daftarSolusiCtrl" class="net.lintasarta.idoss.webui.pengaduan.DaftarSolusiCtrl"
          parent="basisListCtrl" scope="prototype">
        <property name="tDeskripsiService" ref="tdeskripsiService"/>
    </bean>
    <bean id="monitoringCtrl" class="net.lintasarta.idoss.webui.pengaduan.DaftarMonitoringCtrl"
          parent="basisListCtrl" scope="prototype">
        <property name="penangananGangguanService" ref="penangananGangguanService"/>
    </bean>
    <bean id="helpdeskCtrl" class="net.lintasarta.idoss.webui.pengaduan.DaftarHelpdeskCtrl"
          parent="basisListCtrl" scope="prototype">
        <property name="penangananGangguanService" ref="penangananGangguanService"/>
    </bean>
    <bean id="daftarPelaksanaanCtrl" class="net.lintasarta.idoss.webui.pengaduan.DaftarPelaksanaanCtrl"
          parent="basisListCtrl" scope="prototype">
        <property name="penangananGangguanService" ref="penangananGangguanService"/>
    </bean>

    <bean id="daftarPermohonanCtrl" class="net.lintasarta.idoss.webui.permohonan.DaftarPermohonanCtrl"
          parent="basisListCtrl" scope="prototype">
        <property name="permohonanService" ref="permohonanService"/>
        <property name="pelaksanaanGangguanService" ref="pelaksaanaanGangguanService"/>
    </bean>
    <bean id="daftarPermohonanInputCtrl" class="net.lintasarta.idoss.webui.permohonan.DaftarPermohonanInputCtrl"
          parent="basisListCtrl" scope="prototype">
        <property name="permohonanService" ref="permohonanService"/>
        <property name="pelaksanaanGangguanService" ref="pelaksaanaanGangguanService"/>
    </bean>
    <bean id="permohonanBaruCtrl" class="net.lintasarta.idoss.webui.permohonan.PermohonanBaruCtrl" parent="basisCtrl"
          scope="prototype">
        <property name="permohonanService" ref="permohonanService"/>
    </bean>
    <bean id="permohonanCtrl" class="net.lintasarta.idoss.webui.permohonan.PermohonanCtrl" parent="basisCtrl"
          scope="prototype">
        <property name="permohonanService" ref="permohonanService"/>
    </bean>
    <bean id="pelaksanaanCtrl" class="net.lintasarta.idoss.webui.permohonan.PelaksanaanCtrl" parent="basisCtrl"
          scope="prototype">
        <property name="pelaksanaanService" ref="pelaksanaanService"/>
    </bean>
    <bean id="verifikasiCtrl" class="net.lintasarta.idoss.webui.permohonan.VerifikasiCtrl" parent="basisCtrl"
          scope="prototype">
        <property name="verifikasiService" ref="verifikasiService"/>
    </bean>
    <bean id="persetujuanManagerPemohonCtrl" class="net.lintasarta.idoss.webui.permohonan.PersetujuanManagerPemohonCtrl"
          parent="basisCtrl" scope="prototype">
        <property name="verifikasiService" ref="verifikasiService"/>
    </bean>
    <bean id="persetujuanGmPemohonCtrl" class="net.lintasarta.idoss.webui.permohonan.PersetujuanGmPemohonCtrl"
          parent="basisCtrl" scope="prototype">
        <property name="permohonanService" ref="permohonanService"/>
    </bean>
    <bean id="persetujuanGmCtrl" class="net.lintasarta.idoss.webui.permohonan.PersetujuanGmCtrl"
          parent="basisCtrl" scope="prototype">
        <property name="verifikasiService" ref="verifikasiService"/>
    </bean>
    <bean id="persetujuanCtrl" class="net.lintasarta.idoss.webui.permohonan.PersetujuanCtrl"
          parent="basisCtrl" scope="prototype">
        <property name="permohonanService" ref="permohonanService"/>
        <property name="verifikasiService" ref="verifikasiService"/>
        <property name="pelaksanaanGangguanService" ref="pelaksaanaanGangguanService"/>
    </bean>

    <bean id="pengaduanCtrl" class="net.lintasarta.idoss.webui.pengaduan.PengaduanCtrl" parent="basisCtrl"
          scope="prototype">
        <property name="penangananGangguanService" ref="penangananGangguanService"/>
        <property name="mttrService" ref="mttrService"/>
    </bean>
    <bean id="penangananGangguanCtrl" class="net.lintasarta.idoss.webui.pengaduan.PenangananGangguanCtrl"
          parent="basisCtrl"
          scope="prototype">
        <property name="penangananGangguanService" ref="penangananGangguanService"/>
        <property name="pelaksanaanGangguanService" ref="pelaksaanaanGangguanService"/>
        <property name="rootCausedService" ref="rootCausedService"/>
        <property name="typeService" ref="typeService"/>
        <property name="mttrService" ref="mttrService"/>
    </bean>

    <bean id="pelaksanaanGangguanCtrl" class="net.lintasarta.idoss.webui.pengaduan.PelaksanaanGangguanCtrl"
          parent="basisCtrl" scope="prototype">
        <property name="pelaksanaanGangguanService" ref="pelaksaanaanGangguanService"/>
        <property name="mttrService" ref="mttrService"/>
        <property name="rootCausedService" ref="rootCausedService"/>
        <property name="typeService" ref="typeService"/>
    </bean>

    <bean id="pelaksanaanGangguanRCtrl" class="net.lintasarta.idoss.webui.pengaduan.PelaksanaanGangguanRCtrl"
          parent="basisCtrl" scope="prototype">
        <property name="pelaksanaanGangguanService" ref="pelaksaanaanGangguanService"/>
        <property name="mttrService" ref="mttrService"/>
    </bean>

    <bean id="tambahRootCausedCtrl" class="net.lintasarta.idoss.webui.pengaduan.TambahRootCausedCtrl" parent="basisCtrl"
          scope="prototype">
        <property name="rootCausedService" ref="rootCausedService"/>
    </bean>

    <bean id="typeCtrl" class="net.lintasarta.idoss.webui.pengaduan.TypeCtrl" parent="basisCtrl" scope="prototype">
        <property name="typeService" ref="typeService"/>
        <property name="pelaksanaanGangguanService" ref="pelaksaanaanGangguanService"/>
    </bean>

    <bean id="reportAduanCtrl" class="net.lintasarta.idoss.webui.pengaduan.ReportAduanCtrl" parent="basisCtrl"
          scope="prototype">
        <property name="reportService" ref="reportService"/>
    </bean>
    <bean id="reportBelumSelesaiCtrl" class="net.lintasarta.idoss.webui.permohonan.ReportBelumSelesaiCtrl"
          parent="basisCtrl" scope="prototype">
        <property name="reportService" ref="reportService"/>
    </bean>
    <bean id="reportSudahSelesaiCtrl" class="net.lintasarta.idoss.webui.permohonan.ReportSudahSelesaiCtrl"
          parent="basisCtrl" scope="prototype">
        <property name="reportService" ref="reportService"/>
    </bean>
    <bean id="reportRekapAduanCtrl" class="net.lintasarta.idoss.webui.pengaduan.ReportRekapAduanCtrl" parent="basisCtrl"
          scope="prototype">
        <property name="reportService" ref="reportService"/>
        <property name="permohonanService" ref="permohonanService"/>
    </bean>
    <bean id="reportRekapPermohonanCtrl" class="net.lintasarta.idoss.webui.permohonan.ReportRekapPermohonanCtrl"
          parent="basisCtrl" scope="prototype">
        <property name="reportService" ref="reportService"/>
    </bean>
</beans>